* {
  font-family: "Poppins";
}

body, html {
  height: 100%;
}

main {
  width: 80vw;
  margin: 0 10vw;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.75em;
}

a {
  text-decoration: underline;
}
